@font-face {
  font-family: "Viaoda Libre";
  src: url(../fonts/viaoda_libre-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

$primary-color: #889164; 
$secondary-color: #ededed;
$accent-color: #575F37;
$hover-color: #CA825B;
$background-color: #ffffff;
$text-color: #171715;
$border-color: rgba(23, 23, 21, 0.25);
$border-color-dark: rgba(23, 23, 21, 0.85);

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: $text-color;
  background-color: $background-color;
}

a {
  text-decoration: none;
  color: $secondary-color;
}

.container {
  max-width: calc(1320px + 15px * 2);
  margin: 0 auto;
  padding-inline: 15px;
}

.container-wrapper {
  max-width: calc(1480px + 15px * 2);
  margin: 0 auto;
  padding-inline: 15px;
}



// Света 

.header {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  background-color: $primary-color;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    &__wrapper {
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      column-gap: 40px;
    }

      &__item {
        font-size: 18px;
      }

        &__link {
          color: $secondary-color;

          &:hover {
          color: $accent-color;
          transition: 0.2s;
        }

      }   
}

/* SCSS variables goes here */
$menu-drawer-width: 250px;
$breakpoint: 768px;

/****************************/

.menu-container {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  width: 3rem;
  cursor: pointer;
  z-index: 2;
  
  input { display: none; cursor: pointer; }
  input:checked ~ span {
    background: $accent-color;
  }
  
  span {
    display: block;
    width: 100%;
    height: 0.4rem;
    margin: 0.5rem 0;
    background: #fff;
    border-radius: 0.25rem;
    transition: all 300ms ease;
  }

  @media (min-width: $breakpoint + 1) {
    display: none; 
  }

}

.menu-container:hover {
  span {
    &:nth-child(3) { width: 50%; }
    &:nth-child(4) { width: 25%; }
  }
}

.menu-drawer {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  height: 100vh;
  width: $menu-drawer-width;
  padding: 6rem 4rem;
  font-size: 1.5rem;
  z-index: 1;
  background: $primary-color;
  color: $secondary-color;
  will-change: transform, opacity;
  transition: all 500ms cubic-bezier(.14,.65,.15,1);
  
  &[opened='false'] { transform: translateY(-100%); opacity: 0; }
  &[opened='true'] { transform: none; opacity: 1; }
  
  ul {
    li {
      margin: 2rem 0;
      cursor: pointer;
    }
    li:hover { color: $accent-color; }
  }
  @media (min-width: $breakpoint + 1) {
    display: none; 
  }
  @media (max-width: 576px) {
    display: flex;
    justify-content: flex-end;
  }
}

.menu-drawer {
  @media (max-width: 500px) {
  width: 100vw;
}
}

.header__menu {
  @media (max-width: $breakpoint) {
    display: none;
  }
}


// Ира Н.
// Аня
// Ира Я.
.blog__wrapper__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 0.17fr 0.49fr 0.08fr 0.15fr 0.11fr;
  margin-left: 8vw;
  margin-right: 8vw;
}
.blog__wrapper__text{
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: "Viaoda Libre";
  font-size: clamp(38px, 2vw, 64px); 
  margin-bottom: 50px;
  margin-top: 120px;
}
.blog__wrapper__cards__img1{
  grid-column: 1/2;
  grid-row: 2/3;
  margin-bottom: 15px;
}
.blog__wrapper__cards__img1 img{
  width: 27vw;
}
.blog__wrapper__cards__name1{
  grid-column: 1/2;
  grid-row: 3/4;
  margin-bottom: 25px; 
  font-family: "Viaoda Libre";
  font-size: clamp(25px, 2vw, 33px);  
}
.blog__wrapper__cards__text1{
  grid-column: 1/2;
  grid-row: 4/5;
  margin-bottom: 25px; 
  font-family: "Montserrat";
  font-size: clamp(14px, 2vw, 22px);
}
.blog__wrapper__cards__button1{
  grid-column: 1/2;
  grid-row: 5/6;
  margin-bottom: 120px;
}
.blog__wrapper__cards__img2{
  grid-column: 2/3;
  grid-row: 2/3;
  margin-bottom: 15px;
}
.blog__wrapper__cards__img2 img{
  width: 27vw;
}
.blog__wrapper__cards__name2{
  grid-column: 2/3;
  grid-row: 3/4;
  margin-bottom: 25px; 
  font-family: "Viaoda Libre";
  font-size: clamp(25px, 2vw, 33px);
}
.blog__wrapper__cards__text2{
  grid-column: 2/3;
  grid-row: 4/5;
  margin-bottom: 25px; 
  font-family: "Montserrat";
  font-size: clamp(14px, 2vw, 22px);
}
.blog__wrapper__cards__button2{
  grid-column: 2/3;
  grid-row: 5/6;
  margin-bottom: 120px;
}
.blog__wrapper__cards__img3{
  grid-column: 3/4;
  grid-row: 2/3;
  margin-bottom: 15px; 
}
.blog__wrapper__cards__img3 img{
  width: 27vw;
}
.blog__wrapper__cards__name3{
  grid-column: 3/4;
  grid-row: 3/4;
  margin-bottom: 25px; 
  font-family: "Viaoda Libre";
  font-size: clamp(25px, 2vw, 33px);
}
.blog__wrapper__cards__text3{
  grid-column: 3/4;
  grid-row: 4/5;
  margin-bottom: 25px; 
  font-family: "Montserrat";
  font-size: clamp(14px, 2vw, 22px);
}
.blog__wrapper__cards__button3{
  grid-column: 3/4;
  grid-row: 5/6;
  margin-bottom: 120px;
}

.page__blog__img{
  width: 100%;
}
.page__blog__part__text{
  margin-left: 140px;
  margin-right: 140px;
}
.page__blog__tittle{
  font-family: "Viaoda Libre";
  font-size: 64px;
  color: #171715;
  margin-top: 120px;
  margin-bottom: 25px;
}
.page__blog__text{
  font-family: "Montserrat";
  font-size: 22px;
  margin-bottom: 10px;
}
.page__blog__text1{
  font-family: "Montserrat";
  font-size: 22px;
  margin-bottom: 20px;
}
.page__blog__text2{
  font-family: "Montserrat";
  font-size: 22px;
  margin-bottom: 40px;
}
.page__blog__tittle__h3{
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 22px;
  color: #171715;
  margin-bottom: 10px;
}
@media (max-width: 768px){
  .blog__wrapper__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.09fr 0.25fr 0.04fr 0.07fr 0.03fr 0.25fr 0.04fr 0.07fr 0.03fr
  } 
  .blog__wrapper__cards__button1{
    margin-bottom: 30px;
  }
  .blog__wrapper__cards__button2{
    margin-bottom: 30px;
  }
  .blog__wrapper__cards__img3{
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .blog__wrapper__cards__name3{
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .blog__wrapper__cards__text3{
    grid-column: 1/2;
    grid-row: 8/9;
    margin-bottom: 30px;
  }
  .blog__wrapper__cards__button3{
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .blog__wrapper__cards__img1 img{
    width: 40vw;
  }
  .blog__wrapper__cards__img2 img{
    width: 40vw;
  }
  .blog__wrapper__cards__img3 img{
    width: 40vw;
  }
}
// 
// 
// 
// 